body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: beige;
}
.outer{
    
    height: 400px;
    width: 30%;
    padding: 5px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

 #main-input{
    border: 0;
    height: 80px;
    width: 100%;
    padding-inline: 0px;
    padding-block:  0px;
}

.content-window > input{
    font-size: 22px;
    text-align: end;
    background-color: white;
    
}

button{
    width: 25%;
    height: 40px;
    margin: 5px;
    border-radius: 15px;
    font-size:20px;
}
